.terraform/
infra/.tf-appdata/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

node_modules/
dist/
infra/*.zip
tools/terraform

infra/.tfvars
docs/backend-status.local.md